:root {
  --black: #000000;
  --white: #FFFFFF;
  --bgColor:#F2FBF6;
  --grey:#B7BECC;
  --green:#6FD791;
  --red:#BC3131;
}


@font-face {
  font-family:'Readex Pro', sans-serif ;
  src: url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;500;600;700&display=swap');
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--bgColor);
}